<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Nihaarika Agarwal</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <header>
    <nav>
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#published">Published Works</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="intro-section" id="about">
    <div class="text-content">
      <h1>Hi, I am </h1>
      <h1> <span class="highlight">Nihaarika Agarwal</span></h1>
      <h2>MS Computer Science</h2>
      <p class="animated-paragraph p1">
        I'm a Computer Science MS student at Arizona State University, specializing in AI. I’m passionate about using machine learning, NLP, and generative AI to solve real-world problems.  
      </p>
      <p class="animated-paragraph p2">
        My experience includes research and development of RAG systems with VectorDB, prompt engineering, and RPA solutions that drive efficiency and impact. I enjoy building practical, trustworthy AI systems and constantly seek opportunities to learn, collaborate, and innovate.
      </p>
      <p class="animated-paragraph p3">
        Outside tech, I love reading and writing short poems. Let’s connect if you have an idea or challenge that could use a creative, analytical mind!
      </p>

      <a href="https://docs.google.com/document/d/1ANscvLdftVLGb7pivhXOpzCIv3oMLs9d/edit?usp=sharing&ouid=110268216606903686165&rtpof=true&sd=true" download class="resume-button">Resume</a>
    </div>
    <div class="profile-photo">
      <img src="static/profile.png" alt="Nihaarika Agarwal">
    </div>
  </main>

  <section class="tech-toolkit" id="skills">
    <h2>My <span class="alt-color">Tech</span> Toolkit</h2>
    <div class="toolkit-section">
       <div class="column animate-slide-right"> 
        <div class="column">
            <div class="section-header">Tools/Libraries</div>
            <div class="tools-libraries-layout">
                <div class="tools-sub-column">
                    <div class="card-wrapper llm-framework--grid-card-wrapper">
                        <div class="card-content">
                          <h4>ML & Data Science Frameworks</h4> 
                            <div class="icon-grid">
                                <div><img src="static/icons/tensorflow.png" alt="TensorFlow"><span>TensorFlow</span></div>
                                <div><img src="static/icons/pytorch.png" alt="PyTorch"><span>PyTorch</span></div>
                                <div><img src="static/icons/pandas.png" alt="Pandas" /><span>Pandas</span></div>
                                <div><img src="static/icons/matplotlib.png" alt="Matplotlib" /><span>Matplotlib</span></div>
                                <div><img src="static/icons/scikit-learn.png" alt="Scikit-learn"><span>Scikit-learn</span></div>
                                <div><img src="static/icons/excel.png" alt="Excel"><span>Excel</span></div>
                                <div><img src="static/icons/spark.png" alt="Apache Spark"><span>Apache Spark</span></div>
                                <div><img src="static/icons/matlab.png" alt="MATLAB"><span>MATLAB</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrapper llm-framework--grid-card-wrapper">
                        <div class="card-content">
                          <h4>LLM, RAG  and VectorDB</h4> 
                            <div class="icon-grid">
                                <div><img src="static/icons/knowledge_graph.png" alt="Knowledge Graph"><span>Knowledge Graph</span></div>
                                <div><img src="static/icons/openai.png" alt="OpenAI"><span>OpenAI</span></div>
                                <div><img src="static/icons/huggingface.png" alt="Hugging Face"><span>Hugging Face</span></div>
                                <div><img src="static/icons/langchain.png" alt="LangChain"><span>LangChain</span></div>
                                <div><img src="static/icons/langgraph.png" alt="LangGraph"><span>LangGraph</span></div>
                                <div><img src="static/icons/llama.png" alt="LLAMA"><span>LLAMA</span></div>
                                <div><img src="static/icons/t5.png" alt="T5"><span>T5</span></div>
                                <div><img src="static/icons/mistral.png" alt="Mistral"><span>Mistral</span></div>
                                <div><img src="static/icons/qdrant.png" alt="Qdrant"><span>Qdrant</span></div>
                                <div><img src="static/icons/faiss.png" alt="FAISS"><span>FAISS</span></div>
                                <div><img src="static/icons/chromadb.png" alt="ChromaDB"><span>ChromaDB</span></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tools-sub-column">
                    <div class="card-wrapper devops-automation-grid-card-wrapper">
                        <div class="card-content">
                          <h4>Automation Tools</h4> 
                            <div class="icon-grid">
                                <div><img src="static/icons/uipath.png" alt="UiPath"><span>UiPath</span></div>
                                <div><img src="static/icons/aa.png" alt="Automation Anywhere"><span>Automation Anywhere</span></div>
                                <div><img src="static/icons/jira.png" alt="Jira"><span>Jira</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrapper devops-automation-grid-card-wrapper">
                        <div class="card-content">
                          <h4>DevOps and Deployment</h4> 
                            <div class="icon-grid">
                                <div><img src="static/icons/aws.png" alt="AWS"><span>AWS</span></div>
                                <div><img src="static/icons/github.png" alt="GitHub"><span>GitHub</span></div>
                                <div><img src="static/icons/docker.png" alt="Docker"><span>Docker</span></div>
                                <div><img src="static/icons/cuda.png" alt="CUDA"><span>CUDA</span></div>
                                <div><img src="static/icons/flask.png" alt="Flask"><span>Flask</span></div>
                                <div><img src="static/icons/streamlit.png" alt="Streamlit"><span>Streamlit</span></div>
                                <div><img src="static/icons/mongodb.png" alt="Streamlit"><span>MongoDB</span></div>
                               <div><img src="static/icons/kafka.png" alt="Streamlit"><span>Kafka</span></div>
                               <div><img src="static/icons/coackroach.png" alt="Streamlit"><span>CoackroachDB</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="column animate-slide-left"> 
        <div class="column">
            <div class="section-header">Programming Languages</div>
            <div class="card-wrapper" id="programming-languages-card">
                <div class="card-content">
                    <div class="icon-grid">
                        <div><img src="static/icons/python.png" alt="Python"><span>Python</span></div>
                        <div><img src="static/icons/vbscript.png" alt="vbscript"><span>VBScript</span></div>
                        <div><img src="static/icons/java.png" alt="Java"><span>Java</span></div>
                        <div><img src="static/icons/sql.png" alt="SQL"><span>SQL</span></div>
                        <div><img src="static/icons/cpp.png" alt="C++"><span>C++</span></div>
                    </div>
                </div>
            </div>

            <div class="section-header">Research domains/Skills</div>
            <div class="card-wrapper research-card-wrapper">
                <div class="card-content">
                    <p>
                        Machine Learning, Natural Language Processing, Large Language Model (LLM), AI Architecture, Deep learning, Retrieval Augmented Generation (RAG), Generative AI, Prompt Engineering, Human ML Interaction, Robotic Process Automation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>


  <section class="experience-section" id="experience">
    <h2>Professional Experience</h2>

    <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Software Developer</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Delve Intermodal, Tempe, US</p>
      </div>
      <div class="right-info">
      <span class="date"> August 2025 – Present</span>
      </div>
      </div>
      <div class="tags">
        <span>SDLC</span><span>Automation</span><span>PHP</span>
        <span>Laravel</span><span>Digital Ocean</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Built and deployed automation tools to streamline internal workflows, improving operational efficiency by 30%+.</li>
          <li>Designed and implemented scalable infrastructure solutions, leveraging DigitalOcean droplets, APIs, and CI/CD pipelines to optimize deployment speed and reliability.</li> 
          <li>Developed scripts and pipelines to automate repetitive tasks, reducing manual workload and turnaround time.</li>
          <li>Collaborated with cross-functional teams ensuring robust, maintainable, and high-quality code delivery.</li>
          <li>Contributed to continuous improvement initiatives, identifying bottlenecks, optimizing processes, and integrating new technologies to boost productivity.Built and deployed automation tools to streamline internal workflows, improving operational efficiency by 30%+. Designed and implemented scalable infrastructure solutions, leveraging DigitalOcean droplets, APIs, and CI/CD pipelines to optimize deployment speed and reliability. Developed scripts and pipelines to automate repetitive tasks, reducing manual workload and turnaround time. Collaborated with cross-functional teams ensuring robust, maintainable, and high-quality code delivery. Contributed to continuous improvement initiatives, identifying bottlenecks, optimizing processes, and integrating new technologies to boost productivity.
</li>
        </ul>
      </div>
    </div>
    
    <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Research Assistant</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Arizona State University, Tempe, US</p>
      </div>
      <div class="right-info">
      <span class="date"> September 2024 – Present</span>
      </div>
      </div>
      <div class="tags">
        <span>LLM</span><span>RAG</span><span>Qualitative Analysis</span>
        <span>VectorDB</span><span>Prompt Engineering</span><span>Human-ML Interaction</span>
        <span>Retrieval</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Researcher @ Happy (Human Aspects in Cyber Protection and Security) Lab under Prof. Jaron Mink in collaboration with SEFCOM</li>
          <li>Improved IRB feedback quality by enabling early detection of design risks—built an LLM-powered ethics compliance tool using RAG and VectorDB.</li> 
          <li>Uncovered key prompt-response patterns in cybersecurity education through qualitative analysis of LLM outputs.</li>
          <li>Enhanced LLM evaluation by designing prompt-analysis workflows to assess accuracy, clarity, and educational value.</li>
          <li>Optimized LLM-based QA via dynamic table pruning, hybrid retrieval, and reranking.</li>
        </ul>
      </div>
    </div>

     <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Consultant</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Deloitte Touche Tohmatsu, India</p>
      </div>
      <div class="right-info">
      <span class="date"> June 2024 – August 2024</span>
      </div>
      </div>
      <div class="tags">
        <span>UiPath</span><span>RPA</span><span>VB Script</span><span>JIRA</span>
        <span>MS Excel Macros</span><span>Agile Methodologies</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Reduced bot debugging time by 60% by designing a VBScript-based dashboard to monitor 20+ production bots.</li>
          <li>Accelerated RPA scaling across global clients by rapidly integrating custom error-reporting modules.</li>
          <li>Streamlined production handoffs by creating comprehensive SOPs for cross-functional teams.</li>
        </ul>
      </div>
    </div>

     <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Analyst</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Deloitte Touche Tohmatsu, India</p>
      </div>
      <div class="right-info">
      <span class="date">September 2022 – May 2024</span>
      </div>
      </div>
      <div class="tags">
        <span>UiPath</span><span>RPA</span><span>VB Sript</span><span>JIRA</span>
        <span>MS Excel Macros</span><span>Agile Methodologies</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
        <li>Led to ~30% resource optimization for a leading global consumer healthcare supply chain by designing and standardizing automation workflows.</li>
        <li>Resolved high-priority incidents across global units while maintaining 20+ production bots.</li>
        <li>Improved project tracking and delivery alignment by creating JIRA pipelines and drafting client-ready documentation.</li>
        <li>Twice awarded Deloitte’s “Live the Dot” award for innovation and measurable client impact.</li>
        </ul>
      </div>
    </div>

     <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Intern</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Deloitte Touche Tohmatsu, India</p>
      </div>
      <div class="right-info">
      <span class="date">January 2022 – June 2022</span>
      </div>
      </div>
      <div class="tags">
        <span>RPA</span><span>Automation Anywhere</span><span>UiPath</span><span>Blue Prism</span>
        <span>SDLC</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Reduced turn around time by 95% for a finance workflow by developing an RPA solution collaboration with domain experts.</li>
          <li>Trained on UiPath, BluePrism, and Automation Anywhere; developed automation solutions simulating core SDLC stages.</li>
        </ul>
      </div>
    </div>

     <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Undergraduate Research Assistant</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Manipal Institute of technology, Manipal, India</p>
      </div>
      <div class="right-info">
      <span class="date"> July 2021 – December 2021</span>
      </div>
      </div>
      <div class="tags">
        <span>Python</span><span>NLP</span><span>NLTK</span><span>Pandas</span>
        <span>Matplotlib</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Published research on sentiment analysis using NLTK to evaluate pandemic-related mental health trends; processed large unstructured text datasets and built classifiers to detect emotional patterns during COVID-19.</li>
        </ul>
      </div>
    </div>

  <div class="experience-wrapper">
    <div class="experience-card hover-expand">
      <h3>Intern</h3>
      <div class="experience-header">
      <div class="left-info">
      <p class="university">Telecommunications Centre, govt of India, India</p>
      </div>
      <div class="right-info">
      <span class="date"> June 2021 – August 2021</span>
      </div>
      </div>
      <div class="tags">
        <span>Python</span><span>ML</span><span>AI Fairness</span>
      </div>
      </div>
      <div class="hover-details">
        <ul>
          <li>Co-authored research on fairness certification for AI- proposed a “Fairness Score” framework now cited in ongoing regulatory discussions.</li>
          <li>Conducted bias audits using Python, ML libraries; developed methods to assess algorithmic fairness in public-facing systems.Published research on sentiment analysis using NLTK to evaluate pandemic-related mental health trends; processed large unstructured text datasets and built classifiers to detect emotional patterns during COVID-19.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="projects-section" id="projects">
    <h2 class="animate-slide-up">Projects</h2>
    <div class="projects-container">

    <div class="project-card animate-slide-right">
      <img src="static/projects/career-assistant.png" class="animate-slide-right" alt="Agentic Career Assistant" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Agentic Career Assistant</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Aug 2025 – Dec 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/Agentic-Career-Assistant" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Built an agentic AI career-matching system using LangGraph, Neo4j, and LLM-powered parsing with a hybrid scoring engine and end-to-end Streamlit + FastAPI applications.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>

      <div class="project-card animate-slide-right">
      <img src="static/projects/traffic-monitoring.png" class="animate-slide-right" alt="Real time traffic monitoring" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Real Time Traffic Monitoring</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Aug 2025 – Dec 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/Real-time-traffic-monitoring" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Built a cloud-native real-time traffic system with Kafka, CockroachDB, MongoDB, H3 congestion analytics, and a live WebSocket dashboard for sub-second updates.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>

      <div class="project-card animate-slide-right">
      <img src="static/projects/crag.png" class="animate-slide-right" alt="Corrective-RAG" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Corrective RAG</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">April 2025 – May 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/CorrectiveRAG" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Self-correcting RAG using LangGraph, LangChain, HuggingFace, and ChromaDB with LLM grading and query rewriting.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>
    
    <div class="project-card animate-slide-right">
      <img src="static/projects/face-recognition.png" class="animate-slide-right" alt="Cloud Based Face Recognition Pipeline AWS" />
      <div class="project-content">
        <h3 class="animate-slide-right">Cloud Based Face Recognition Pipeline AWS</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Jan 2025 – May 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/Cloud-Based-Face-Recognition-Pipeline-AWS-Public-" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Built serverless AWS Greengrass face recognition pipeline using MTCNN, InceptionResNetV1, Lambda, SQS, for video frames.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>

    <div class="project-card animate-slide-right">
      <img src="static/projects/renewable-energy.png" class="animate-slide-right" alt="Renewable Energy Assistant LLM Powered Streamlit App" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Renewable Energy Assistant LLM Powered Streamlit App</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Apr 2025 – May 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/Renewable-Energy-Assistant-LLM-Powered-Streamlit-App-" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Built a Streamlit app using Flan-T5, Qdrant, and LangChain for time-series solar analysis and policy Q&A via RAG.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>

    <!-- <div class="project-card animate-slide-right">
      <img src="static/projects/evaluate-llms.png" class="animate-slide-right" alt="Evaluating VectorDB Augmented LLMs" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Evaluating VectorDB Augmented LLMs</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Aug 2024 – Dec 2024</span>
          <a href="https://github.com/NihaarikaAgarwal/Evaluating-VectorDB-Augmented-LLM" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Evaluated generated plan accuracy in two scenarios using LLMs' multimodal capabilities with VectorDB, RAG, LLAMA, FAISS & Python.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div> -->

    <div class="project-card animate-slide-right">
      <img src="static/projects/time-series.png" class="animate-slide-right" alt="Traffic Time Series Analysis" />
      <div class="project-content">
        <h3 class="animate-slide-right"> Traffic Time Series Analysis</h3>
        <div class="meta">
          <span class="date-tag animate-slide-right">Dec 2024 – Jan 2025</span>
          <a href="https://github.com/NihaarikaAgarwal/Traffic-Time-Series-Analysis" target="_blank" class="github-icon animate-slide-left">
            <img src="static/icons/github.png" alt="GitHub">
          </a>
        </div>
        <p class="animate-slide-right">Analyzes and forecasts traffic patterns using time series, data processing, machine learning, and statistical modeling in python.</p>
        <div class="project-line animate-slide-right"></div>
      </div>
    </div>

    <a href="https://github.com/NihaarikaAgarwal" target="_blank" class="pub-link">More Projects</a>
     </div>
  </section>

  <section class="published-section" id="published">
    <h2 class="animate-fade-up scroll-appear">Published Works</h2>
    <div class="published-container">
      <div class="publication-card rotate-in-left">
        <h3>Covid-19 Impact on Mental Health: Sentiment Analysis Using NLTK</h3>
        <!--<p>Authors - Agarwal.N, Vijayalaxmi (2023)</p>-->
        <div class="pub-details">
          <p class="pub-meta">6th International Conference on Contemporary Computing and Informatics(IC3I Conference) · pp. 850–855</p>
          <a href="https://ieeexplore.ieee.org/document/10398068" target="_blank" class="pub-link publications-button">View Publication</a>
        </div>
      </div>
      <div class="publication-card rotate-in-right">
        <h3>Fairness Score and Process Standardization: Framework for Fairness Certification in Artificial Intelligence Systems</h3>
        <!--<p>Authors - Agarwal, A., Agarwal, H., Agarwal, N. (2022)</p>-->
        <div class="pub-details">
          <p class="pub-meta">AI Ethics Journal · Vol 3 · pp. 267–279</p>
          <a href="https://doi.org/10.1007/s43681-022-00147-7" target="_blank" class="pub-link publications-button">View Publication</a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section" id="contact">
    <div class="contact-intro-text">
    <h2>Want to discover more!<!--<br>Or<br>Have an exciting project you need help with?--></h2>
    <p>Send me an email or contact<br>via<br>the instant message!</p>
    <p><a href="mailto:nihaarika.a22@gmail.com">nihaarika.a22@gmail.com</a></p>

  <div class="social-icons">
  <a href="https://linkedin.com/in/nihaarika-agarwal" target="_blank">
    <img src="static/icons/linkedin_contact.png" alt="LinkedIn" />
  </a>
  <a href="https://github.com/NihaarikaAgarwal" target="_blank">
    <img src="static/icons/github_contact.png" alt="GitHub" />
  </a>
</div>
</div>
    
  <div class="contact-container">
    <form class="contact-form" action="/send_message" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Message</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Send Message</button>
    </form>
  </div>
  </section>
  
  <!--app.py-->
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const paragraphs = document.querySelectorAll(".animated-paragraph");

    paragraphs.forEach((para, index) => {
      const words = para.textContent.trim().split(/\s+/);
      para.innerHTML = words.map((word, i) =>
        `<span class="word-animate p${index + 1}" style="--i: ${i}">${word}</span>`
      ).join(' ');
    });
  });
</script>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("visible");
        observer.unobserve(entry.target); // animate once
      }
    });
  }, { threshold: 0.15 });

  const elementsToObserve = document.querySelectorAll(
    ".animate-slide-right, .animate-slide-left, .animate-slide-up, .rotate-in-left, .rotate-in-right"
  );

  elementsToObserve.forEach(el => observer.observe(el));
</script>

</body>
</html>
